name: build
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          cache: npm
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm ci --prefer-offline

      - name: Build artifact
        run: npm run build

      - name: Git commit and push
        if: github.actor == 'dependabot[bot]'
        uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: 'feat: update build artifacts'

      - name: Check Git working tree
        run: |
          if [[ $(git diff --stat) != '' ]]; then
            echo 'Detected uncommitted changes. See status below:'
            git diff
            exit 1
          fi
